.snackbar-component {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    border-radius: 5px;
    color: white;

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
