.battle-power-ups {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .division {
        width: 3px;
        background-color: black;
        height: 70px;
    }

    .battle-power-ups {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
}