.choosing-p2 {
    grid-area: p2;
    display: flex;
    justify-content: flex-end;

    .choosing-p2-box {
        display: grid;
        grid-template-areas:
            'computer player'
            'computer machine';
        width: fit-content;
        padding: 15px;
        margin-right: 50px;
        border-radius: 10px;
        cursor: pointer;

        .computer-icon {
            grid-area: computer;
            height: fit-content;
            width: fit-content;
            padding: 3px;
            margin-right: 10px;
            border-radius: 60%;

            &:hover {
                scale: 1.2;
            }
        }

        #choosing-player {
            grid-area: player;
        }

        #choosing-machine {
            grid-area: machine;
        }
    }
}

.choosing-player-box-activated {
    background-color: green;
    transition: 0.3s;

    &:hover {
        background-color: lightgreen;
    }
}

.choosing-player-box-deactivated {
    background-color: orangered;
    transition: 0.3s;

    &:hover {
        background-color: yellow;
    }
}