.modal-component {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: column;

    .modal-component-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        p {
            padding-left: 10px;
        }

        .modal-component-close-icon {
            height: fit-content;
            width: fit-content;
            display: flex;
            border-radius: 15px; 
        }
    }

    .modal-component-content {
        padding: 10px;
    }
}
