.app-snackbar {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50px, -50px);
    z-index: 12;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
    background-color: rgb(0, 149, 255);

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
}

.app-snackbar-on {
    display: flex;
    background-color: rgb(0, 149, 255);
}

.app-snackbar-off {
    display: none !important;
    background-color: transparent !important;
}

@media (max-width: 1250px){
    .app-snackbar {
        left: 10%;
    }
}

@media (max-width: 650px){
    .app-snackbar {
        left: 20%;
        width: 75vw;        
    }
}
